@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;

	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	color: #666F80;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;

	display: flex;
	gap: 50px;
}

.header {
	max-width: 255px;
}

.header__logo {
	font-style: normal;
	font-weight: 900;
	font-size: 128px;
	line-height: 140px;
	color: #FB6D6C;
}

.menu {
	margin-top: 22px;

	display: flex;
	gap: 30px;
}

.menu__list {
	min-width: 400px;
}

.menu__tittle {
	margin-bottom: 30px;

	font-weight: 700;
	font-size: 32px;
	text-decoration: underline;
	color: #FB6D6C;
}

.menu__subtitle {
	margin-top: 30px;

	font-weight: 700;
	font-size: 24px;
	color: #FB6D6C;
}

.menu__link:hover {
	color: #FB6D6C;
	transition: all 0.2s;
}

.review {
	margin-top: 10px;

	max-width: 100%;
	border-radius: 10px;
}